.messages{
    width: 60%;
    height: 100vh;

}

.header{
    display: flex;
    width: 100%;
}

.header-center-block{
    width: 90%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DEDEDE;
}

.header-center-block span{
    font-size: 20px;
    color: grey;

}

.messageSearch{
    display: flex;
    border-radius: 5px;


}

.messageSearch:hover{
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
}

.messageSearch input{
    display: flex;
    border: none;
    outline: none;
    border-radius: 5px;

}


.messageAuthorName{
    display: flex;
    align-items: center;
    margin-right: 160px;

}

.messageAuthorNameTitle{
    font-weight: 500;


}

.messageAuthorNameOnline span {
    color: rgba(159, 226, 191);
    font-size: 10px;
    padding: 0;
    margin-left: 5px;
}

.messagesModal{
    width: 100%;
    height: 85%;
    margin-top: 2px;
    overflow-y: auto;
    padding: 5px 38px;
}

.messagesModal::-webkit-scrollbar{
    width: 0;
}

.writeMessage{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px  solid #DEDEDE;



}
.messageSendForm{
    width: 80%;
}



.messageSendForm input{
    width: 90%;
    height: 30px;
    margin-top: 13px;
    margin-left: 1%;
    border: none;
    outline: none;
    font-weight: 500;

}

.messageWriteRightBlock{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    ;
}

.clip span{
    font-size: 25px;
    color: rgb(148,146,146);
    cursor: pointer;

}

.microphone span{
    font-size: 25px;
    color: rgb(148,146,146);
    margin-left: 10px;
    cursor: pointer;
}

.messageDesign{
    width: 25%;
    padding: 5px 0;
    background-color: rgba(196,196,196,0.5);
    box-shadow: 0 0 2px 1px  rgba(0,0,0,0.2);
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin: 10px auto;
    text-align: center;



}

.messageDesignIn{
    width: 25%;
    padding: 10px 15px;
    background-color: rgba(196,196,196,0.8);
    box-shadow: 0 0 2px 1px  rgba(0,0,0,0.3);
    border-radius: 15px 15px 15px  0;
    color: white;
    font-size: 12px;
    margin: 0 auto 10px 0;

}


.messageDesignOut{
    width: 25%;
    padding: 10px 15px;
    background-color: rgba(17,39,255,0.8);
    box-shadow: 0 0 2px 1px  rgba(0,0,0,0.3);
    border-radius: 15px 15px 0 15px;
    color: white;
    font-size: 12px;
    margin: 0 0 10px auto;
}

.headerLoading{
    width: 90%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLoading div{
    margin-left: 5px;
}

.messageSearch  span{
    padding: 0;
    cursor: pointer;
}

.messageSettings{
    cursor: pointer;
}