.messages {
    flex: 1;
    height: 100vh;
    background-color: white;
}

.header {
    display: flex;
    width: 100%;
}

.header-center-block {
    width: 90%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dedede;
    text-align: center;
}

.header-center-block span {
    font-size: 20px;
    color: grey;
}

.messageSearch {
    display: flex;
    border-radius: 5px;
}

.messageSearch input {
    display: flex;
    border: none;
    outline: none;
    border-radius: 3px;
    position: absolute;
    left: 26%;
    top: 1.7%;
}

.messageSearch button {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    z-index: 10;
    color: grey;
    top: 1.6%;
    padding: 0;
}

.messageClearIcon {
    left: 37%;
}

.messageSearch span:hover,
.messageSettings span:hover {
    text-shadow: 1px 1px 2px grey;
}

.messageAuthorName {
    display: flex;
    align-items: center;
}

.messageAuthorNameTitle {
    font-weight: 500;
}

.messageAuthorNameOnline span {
    color: rgb(159, 226, 191);
    font-size: 10px;
    padding: 0;
    margin-left: 5px;
}

.messagesModal {
    width: 100%;
    height: 85%;
    margin-top: 2px;
    padding: 5px 10px;
    overflow-y: scroll;
}

.messageScroll {
    padding: 0 15px;
    overflow-y: scroll;
}

.messageScroll::-webkit-scrollbar {
    width: 0;
}

.messagesModal::-webkit-scrollbar {
    width: 0;
}

.writeMessage {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #dedede;
    align-items: center;

}

.messageSendForm {
    width: 100%;
    padding: 5px 10px;
}

.messageSendForm input {

  width: 100%;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  align-items: center;
  font-size: 16px;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

}

.messageWriteRightBlock {
    display: flex;
    align-items: center;
    text-align: center;
}

.clip span {
    font-size: 25px;
    color: rgb(148, 146, 146);
    cursor: pointer;
}

.microphone span {
    font-size: 25px;
    color: rgb(148, 146, 146);
    margin-left: 10px;
    cursor: pointer;
}

.messageDesign {
    width: 20%;
    padding: 5px 0;
    background-color: rgba(236, 234, 234, 0.5);
    border-radius: 8px;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}

.messageDesignIn {
    width: 20%;
    display: flex;
    line-height: 30px;
    background-color: #e5f0f5;
    border-radius: 10px 10px 10px 0;
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto 10px 0;
    word-break: break-word;
    padding: 0 10px;
}

.messageInText {
    margin-left: 5px;
}

.messageDesignOut {
    width: 23%;
    display: flex;
    word-break: break-word;
    padding: 12px 18px 20px 12px;
    background-color: rgb(119, 90, 224);
    border-radius: 10px 10px 0 10px;
    color: white;
    font-size: 12px;
    margin: 0 0 10px auto;
    position: relative;
}

.messageTime {
    position: absolute;
    left: 75%;
    bottom: 10%;
    font-size: 8px;
}

.messageRead {
    left: 90%;
    bottom: 5%;
    position: absolute;
}

.messageRead span {
    font-size: 10px;
}

.messageText {
    font-size: 0.8rem;
}

.headerLoading {
    width: 90%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLoading div {
    margin-left: 5px;
}

.headerLoading span {
    animation-name: rotatePreloader;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.messageSearch span {
    padding: 0;
    width: 20px;
    cursor: pointer;
}

.messageSettings {
    cursor: pointer;
}

@keyframes rotatePreloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.—ÅhooseChat {
    width: 60%;
    height: 100vh;
}

.messageDesignIn .deleteButton,
.messageDesignOut .deleteButton {
    width: 20px;
    display: none;
    cursor: pointer;
    position: absolute;
    left: 88%;
    top: 10%;
}

.messageDesignIn:hover .deleteButton,
.messageDesignOut:hover .deleteButton {
    display: inline-block;
}

.generalBlockMessageIn {
    display: flex;
}

.messageAvatar {
    padding: 0 10px 0 0;
    height: 30px;
}

.deleteButton span {
    font-size: 15px;
}
