.messages {
  flex: 1;
  height: 100vh;
}

.header {
  display: flex;
  width: 100%;
}

.header-center-block {
  width: 90%;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dedede;
  text-align: center;
}

.header-center-block span {
  font-size: 20px;
  color: grey;
}

.messageSearch {
  display: flex;
  border-radius: 5px;
}

.messageSearch input {
  display: flex;
  border: none;
  outline: none;
  border-radius: 3px;
  position: absolute;
  left: 26%;
  top: 1.7%;
}

.messageSearch button {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  color: grey;
  top: 1.6%;
  padding: 0;
}

.messageClearIcon {
  left: 37%;
}

.messageSearch span:hover,
.messageSettings span:hover {
  text-shadow: 1px 1px 2px grey;
}

.messageAuthorName {
  display: flex;
  align-items: center;
}

.messageAuthorNameTitle {
  font-weight: 500;
}

.messageAuthorNameOnline span {
  color: rgba(159, 226, 191);
  font-size: 10px;
  padding: 0;
  margin-left: 5px;
}

.messagesModal {
  width: 100%;
  height: 85%;
  margin-top: 2px;
  padding: 5px 10px;
  overflow-y: scroll;
}

.messageScroll {
  padding: 0 15px;
  overflow-y: scroll;
}

.messageScroll::-webkit-scrollbar {
  width: 0;
}

.messagesModal::-webkit-scrollbar {
  width: 0;
}

.writeMessage {
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #dedede;
}

.messageSendForm {
  width: 100%;
}

.messageSendForm input {
  width: 100%;
  height: 30px;
  margin-top: 13px;
  border: 1px solid #dedede;
  border-radius: 5px;
  outline: none;
  font-weight: 500;
}

.messageWriteRightBlock {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 15px;
}

.clip span {
  font-size: 25px;
  color: rgb(148, 146, 146);
  cursor: pointer;
}

.microphone span {
  font-size: 25px;
  color: rgb(148, 146, 146);
  margin-left: 10px;
  cursor: pointer;
}

.messageDesign {
  width: 25%;
  padding: 5px 0;
  background-color: rgba(196, 196, 196, 0.5);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  font-size: 12px;
  margin: 10px auto;
  text-align: center;
}

.messageDesignIn {
  width: 170px;
  display: flex;
  height: 30px;
  line-height: 30px;
  background-color: rgba(196, 196, 196, 0.8);
  border-radius: 10px 10px 10px 0;
  color: white;
  font-size: 12px;
  margin: 0 auto 10px 0;
  word-break: break-word;
}

.messageInText {
  margin-left: 5px;
}

.messageDesignOut {
  width: 170px;
  display: flex;
  word-break: break-word;
  padding: 10px 10px;
  background-color: rgba(17, 39, 255, 0.8);
  border-radius: 10px 10px 0 10px;
  color: white;
  font-size: 12px;
  margin: 0 0 10px auto;
  position: relative;
}

.messageTime {
  position: absolute;
  left: 75%;
  bottom: 5%;
  font-size: 8px;
}

.messageRead {
  left: 90%;
  bottom: 1%;
  position: absolute;
}

.messageRead span {
  font-size: 10px;
}

.messageText {
  font-size: 0.8rem;
}

.headerLoading {
  width: 90%;
  height: 40px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLoading div {
  margin-left: 5px;
}

.headerLoading span {
  animation-name: rotatePreloader;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.messageSearch span {
  padding: 0;
  width: 20px;
  cursor: pointer;
}

.messageSettings {
  cursor: pointer;
}

@keyframes rotatePreloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.—ÅhooseChat {
  width: 60%;
  height: 100vh;
}

.messageDesignIn .deleteButton,
.messageDesignOut .deleteButton {
  width: 20px;
  display: none;
  cursor: pointer;
  position: absolute;
  left: 85%;
  top: 10%;
}

.messageDesignIn:hover .deleteButton,
.messageDesignOut:hover .deleteButton {
  display: inline-block;
}

.generalBlockMessageIn {
  display: flex;
}

.messageAvatar {
  padding: 0 10px 0 0;
  height: 30px;
}

.deleteButton span {
  font-size: 15px;
}
