.profile {
  width: 20%;
  height: 100vh;
  background-color: #ffffff;
  transition: 1000ms;
  border-left: 1px solid lightgrey;
}

.avatar {
  text-align: center;
  color: white;
  background-color: #87ceeb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  font-size: 2.4em;
}

.TopProfileBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.ContactInfoTitle {
  font-weight: 500;
  margin-top: 10px;
}

.ContactInfoUsername {
  text-align: center;
  margin-top: 5px;
  font-weight: 300;
  color: grey;
}

.ContactInfoIcons {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.ContactInfoIcons span {
  font-size: 25px;
  color: rgba(64, 168, 195, 0.95);
}

.ContactSocial {
  width: 160px;
  margin: auto;
  margin-top: 55px;
  border-top: 1px solid #b7b6b6;
  padding: 15% 0;
}

.ContactSocialTitle {
  font-weight: 500;
}
.ContactSocialNetworksInstagram {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.ContactSocialNetworks span {
  color: rgba(64, 168, 195, 0.95);
  font-weight: 300;
}

.ContactSocialNetworksTwitter {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ContactSocialNetworksFacebook {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ContactSocialNetworks {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.ContactSocialNetworksInstagramTitle,
.ContactSocialNetworksTwitterTitle,
.ContactSocialNetworksFacebookTitle
{
  margin-left: 5px;
}

.ContactMedia {
  border-top: 1px solid #b7b6b6;
  padding-top: 15%
}

.ContactMediaTitle {
  font-weight: 500;
}

.ContactMediaDoc {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid rgba(234, 233, 233, 0.5);
  background-image: linear-gradient(
    to bottom,
    rgba(192, 230, 243, 0.91),
    rgba(148, 221, 245, 0.94),
    rgba(77, 191, 219, 0.94),
    rgba(34, 146, 183, 0.95),
    rgba(13, 82, 103, 0.87)
  );
}

.ContactMediaElements {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ContactMediaSubtitle {
  font-size: 15px;
  padding-left: 5px;
  box-sizing: border-box;
}
