.profile {
  width: 20%;
  height: 100vh;
  background-color: #d9e5ef;
  transition: 1000ms;
}

.avatar {
  text-align: center;
  color: white;
  background-color: #87ceeb;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  font-size: 2.4em;
}

.TopProfileBlock {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.ContactInfoTitle {
  font-weight: 500;
  margin-top: 10px;
}

.ContactInfoUsername {
  text-align: center;
  margin-top: 5px;
  font-weight: 300;
  color: grey;
}

.ContactInfoIcons {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}

.ContactInfoIcons span {
  font-size: 25px;
  color: skyblue;
}

.ContactSocial {
  width: 150px;
  margin: auto;
  margin-top: 60px;
}

.ContactSocialTitle {
  font-weight: 500;
}
.ContactSocialNetworksInstagram {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.ContactSocialNetworks span {
  color: #87ceeb;
  font-weight: 300;
}

.ContactSocialNetworksTwitter {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ContactSocialNetworksFacebook {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.ContactSocialNetworks {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.ContactSocialNetworksInstagramTitle {
  margin-left: 5px;
}
.ContactSocialNetworksTwitterTitle {
  margin-left: 5px;
}
.ContactSocialNetworksFacebookTitle {
  margin-left: 5px;
}

.ContactMedia {
  margin-top: 40px;
}

.ContactMediaTitle {
  font-weight: 500;
}

.ContactMediaDoc {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-image: linear-gradient(
    to bottom,
    #a3c8ff,
    #8cbafb,
    #73adf7,
    #579ff2,
    #2f92ee
  );
}

.ContactMediaElements {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ContactMediaSubtitle {
  font-size: 15px;
  padding-left: 5px;
  box-sizing: border-box;
}


