.profile {
  width: 30%;
  height: 100vh;
  overflow: hidden;
  background-color: #ecf1f5;

}

.enter{
  width: 0;
}

.enter-active{
  width: 30%;
}


.exit{
  width: 0;
}

.exit-active{
  width: 30%;
}


.userinfo {
  text-align: center;
  margin-top: 10%;
}
.avatar {
  text-align: center;
  color: white;
  background-color: #87CEEB;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  font-size: 2.4em;
}
.username {
  padding: 6% 0%;
  color: grey;
  font-weight: bold;
  font-size: 1.1em;
}
.iconuser {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 3% 0%;
}
.litteicon {
  padding: 0% 4%;
  cursor :pointer;
}
.networksettings {
  list-style: none;
  font-size: 16px;
  padding: 0% 23%;
}
.mediaicons {
  padding: 10% 0%;
  width: 100px;
  height: 50px;


}
.socialnetwork {
  background-color: white;
  width: 200px;
  margin: auto;
  border-radius: 3%;
  box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
}
.socialmedia {
  margin-top: 30%;
}
span {
  padding-left: 10%;
}
.heading {
  font-size: 18px;
  font-weight: bold;
  margin-left: 20%;
}
.profile {
  width: 20%;
  height: 100vh;
}
.color{
  color: red;
}
.fullname{
  text-align: center;
  padding-top: 7%;
  font-weight: bold;
  font-size: 1.3em;
}
.media{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nameofsocial{
  padding: 0% 15%;
  font-size: .9em;
}
.folders{
  background-color: white;
height: 15%;
  width: 200px;
  margin: auto;
  border-radius: 2%;
  box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2);
  padding: 10px 0px;
  margin-top: 20px;
}
.medialow{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.online{
  color: red;
}

