* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  background-color: #eeeeee;
}

.wrap_message_profile {
  flex: 1;
  display: flex;
}

.profile-enter {
  width: 0;
}

.avatar {
  background-image: linear-gradient(
    to bottom,
    #a3c8ff,
    #8cbafb,
    #73adf7,
    #579ff2,
    #2f92ee
  );
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
}
.small {
  background-image: linear-gradient(
    to bottom,
    #a3c8ff,
    #8cbafb,
    #73adf7,
    #579ff2,
    #2f92ee
  );
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.medium {
  background-image: linear-gradient(
    to bottom,
    #a3c8ff,
    #8cbafb,
    #73adf7,
    #579ff2,
    #2f92ee
  );
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.large {
  background-image: linear-gradient(
    to bottom,
    #a3c8ff,
    #8cbafb,
    #73adf7,
    #579ff2,
    #2f92ee
  );
  border-radius: 100%;
  text-align: center;
  color: white;
  pointer-events: none;
  user-select: none;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 50px;
  font-weight: 400;
}
.mediumonline {
  background-image: linear-gradient(
    to bottom,
    #a3c8ff,
    #8cbafb,
    #73adf7,
    #579ff2,
    #2f92ee
  );
  border-radius: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  pointer-events: none;
  user-select: none;
  width: 35px;
  height: 35px;
  position: relative;
  line-height: 35px;
}
.mediumonline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 60%;
  border-radius: 100em;
  width: 7px;
  height: 7px;
  z-index: 1;
  background: limegreen;
}
