* {
  box-sizing: border-box;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #d9e5ef;
  position: relative;
  overflow-y: scroll;
  margin: auto;
}

.chats::-webkit-scrollbar {
  width: 0;
}

.contacts-chats ul li,
.contact-active {
  width: 230px;
  background-color: #d9e5ef;
  align-items: center;
  margin: 5px 0;
  list-style-type: none;
  padding: 0 8px;
  height: 70px;
  display: flex;
}

.contacts-chats {
  margin: auto;
}

.contact-active {
  background-color: white !important;
}

.contact-chat {
  display: flex;
}

.contacts-search {
  position: fixed;
  width: 100%;
}

.contact-search {
  position: relative;
  width: 100%;
  background-color: #ecf1f5;
}

input:hover {
  box-shadow: inset 0 0 3px 1px #dedede;
}

.contact-search input {
  border: 1px solid #dedede;
  border-radius: 5px;
  outline: none;
  z-index: 5;
  align-items: center;
  padding: 10px;
  position: absolute;
  width: 18%;
  top: 15px;
  left: 1%;
  padding-left: 35px !important;
}

.contacts-chats a {
  text-decoration: none;
  color: black;
  width: 100%;
  padding: 20px 3px;
}

.contacts-chats {
  margin-top: 70px;
  align-items: center;
  padding: 0 5%;
  display: flex;
}

.contacts-chats ul {
  padding: 0;
  margin: auto;
  box-shadow: none;
  list-style: none;
}

.contact-active,
.contact-chat:hover {
  background-color: white;
  border: 1px solid #dedede;
  border-radius: 5px;

  box-shadow: 0 0 8px 3px #dedede;
  cursor: pointer;
}

.contact-search-btn {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  color: grey;
  left: 1.5%;
  top: 23px;
}

.contact-clear-btn {
  border: none;
  outline: none;
  background-color: transparent;
  position: absolute;
  z-index: 10;
  cursor: pointer;
  color: grey;
  top: 23px;
  left: 16%;
}

.contact-search button,
span {
  padding: 0 !important;
}

.contact-clear-btn:hover {
  text-shadow: 1px 1px 2px grey;
}

.contact-avatar,
.avatar-skeleton {
  width: 35px;
}

.contact-names,
.contact-skeleton {
  width: 135px;
  margin-right: 3px;
  padding-left: 5px;
}

.contact-name {
  font-weight: bold;
  font-size: 14px;
}

.contact-last-message,
.contact-message-time {
  font-size: 11px;
  color: #808080;
}

.contacts-skeleton {
  display: flex;
  width: 230px;
  padding: 15px 5px;
  align-items: center;
  margin: 5px 0;
}

.avatar-skeleton {
  margin-right: 10px;
}

.time-skeleton {
  align-items: center;
}
